<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Receipt</title>
</head>
<body>
<h2>Order Receipt</h2>

<!--<p><strong>Name:</strong> <span th:text="${order.username}"></span></p>-->
<p><strong>Device Type:</strong> <span th:text="${order.device_type}"></span></p>
<p><strong>Device Color:</strong> <span th:text="${order.device_color}"></span></p>
<p><strong>Quantity:</strong> <span th:text="${order.device_quantity}"></span></p>
<p><strong>Total Price:</strong> $<span th:text="${order.total_price}"></span></p>

<hr>

<form action="/order">
    <button type="submit">Another Order</button>
</form>

<form action="/order-history">
    <button type="submit">Show Order History</button>
</form>

</body>
</html>
